# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\modul2-java\week4-Thread-App-Manager_Product-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
